.bannerBackground {
  /* For IE 9 & older  */
  background: #1e4363;
  background: repeating-linear-gradient(
    to right,
    #1e4363,
    #1e4363 50%,
    #8a2d19 50%,
    #8a2d19
    );
  z-index: 1;
}

.bannerBackground .Wrapper {
  /* For IE 9 & older must be infront of other commands  */
  background: #1e4363;
  background: repeating-linear-gradient(
    to right,
    #1e4363,
    #1e4363 12.5%,
    #8a2d19 12.5%,
    #8a2d19 25%
  );
  box-sizing: border-box;
  height: 100%;
  padding-top: 16px;
}

.bannerBackground h1 {
  box-sizing: border-box;
  filter: drop-shadow(4px 5px 4px #0A1620);
  color: #fcf2cb;
  display:inline-block;
  font-family: 'Smythe', 'open-sans', 'Arial', 'Verdana';
  font-size: 59px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0 16px;
  text-align: left;
  vertical-align: top;
  width: 75%;
}

.logo-title-box {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 16px 16px 16px;
}

.logo {
  filter: drop-shadow(4px 5px 4px #0A1620);
  width: 25%;
  max-height: 150px;
  max-width: 180px;
  z-index: 4;
}

.emphasizeBannerTitle {
  font-size: 175%;
  letter-spacing: -2px;
}

.halfCircle {
    background-color:#1e4363;
    border-bottom-left-radius:100% 200%;
    border-bottom-right-radius:100% 200%;
    float:left;
    filter: drop-shadow(4px 5px 12px #0A1620);
    height:0px;
    padding-bottom:2.5%;
    width:12.5%;
}

.halfCircle:nth-child(odd) {
    background-color: #8a2d19;
}

@media (min-width:800px) {
  .bannerBackground {
    height: 180px;
  }
}

@media (max-width: 799px){
  .bannerBackground h1 {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .logo {
    width: 35%;
  }
  .bannerBackground h1 {
    font-size: 48px;
    width: 65%;
  }
}

@media (max-width: 600px) {
  .bannerBackground h1 {
    display: none;
    width: 0%;
  }
  .logo {
    width: 100%;
  }
}

/* @media (max-width: 500px) {
  .bannerBackground h1 {
    font-size: 40px;
    padding: 16px;
  }
} */
